<div class="container">
    <h1>School App</h1>
    <form class="col-sm-3">
      <div class="form-group">
        <div class="label">Class Name</div>
        <input type="text" [(ngModel)]="name" name="name" class="form-control">
      </div>
      <div class="form-group">
        <div class="label">Class Size</div>
        <input type="number" [(ngModel)]="size" name="size" class="form-control">
      </div>
      <div class="form-group">
        <button type="button" (click)="editClass()" class="btn btn-success">EDIT</button>
      </div>
    </form>

  <router-outlet></router-outlet>